.blog-post {
  background-color: var(--white);
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--defaultSpace) 0;

  &__wrapper {
    background-color: var(--cloudGrayLight);
    padding: var(--defaultSpace) 4px;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 var(--defaultSpace)
  }
}